<div class="box">
  <div class="box_content">
    <%= new_club_tool_link %>
  </div>
</div>

<div class="box">
  <div class="box_header">
    <h1>Kluby</h1>
  </div>
  <div class="box_content">
    <%= render :partial => @clubs %>
  </div>
</div>
