<div class="box">
  <div class="box_header">
    <h1>Edycja drużyny</h1>
  </div>
  <div class="box_content">
    <% form_for :team do |f| %>
      <div class="form_row">
        <label for="name">Nazwa</label>
        <%= f.text_field :name %>
      </div>
      <div class="form_row">
        <label for="official_name">Nazwa oficialna</label>
        <%= f.text_field :official_name %>
      </div>
      <div>
        <%= submit_tag "Zapisz", :class => "submit" %>
      </div>
    <% end %>
  </div>
</div>