<div class="box">
  <div class="box_header">
    <span class="title">Editing entry</span>
  </div>
  <div>
    <% form_for(@entry) do |f| %>
      <%= f.error_messages %>

      <p>
        <%= f.submit 'Update' %>
      </p>
    <% end %>
  </div>
  <%= link_to 'Show', @entry %> |
  <%= link_to 'Back', entries_path %>
</div>