<% last_articles =  Article.find_all_by_published(true, :limit => 3, :order => "created_at DESC") %>

<div id="featured">
  <% for article in last_articles do %>
      <%  if  article.galleries.last.has_main_photo? %>
        <%= image_tag article.galleries.last.main_photo.view.url(:big), "data-caption" => "#caption"+article.id %>
      <% else %>
        <%= image_tag article.galleries.last.photos.last.view.url(:big), "data-caption" => "#caption"+article.id.to_s  %>
      <% end %>
      <span class="orbit-caption" id="caption<%= article.id %>"><%= h  article.summary_sentence %></span>
    <% end %>

  </div>
