<% if logged_in? %>
  <% if current_user.has_role?('administrator')  %>
    <div class="box">
      <div class="box_content">
        <%= new_article_tool_link %>
      </div>
    </div>
  <% end %>
<% end %>
<div class="box">
  <div class="box_content">
    <% if logged_in? %>
      <% if current_user.has_role?('administrator')  %>
        <%= render :partial =>"article_short", :collection => @all_articles %>
        <%= will_paginate @all_articles, :prev_label => "Poprzednia", :next_label => "Następna" %>
      <% end %>
    <% end %>
  </div>
</div>



