<script type="text/javascript">
  var browser=navigator.appName;
  if (browser == "Microsoft Internet Explorer")
  {
    document.write("<div id=\"box\"><div id=\"box_header\"><span class=\"title\">UWAGA</span></div><span class=\"important_font\">Strona nie została przystosowana do korzystania z Microsoft Internet Explorer, ponieważ ta przeglądarka nie spełnia standardów sieci web.<br /><a href=\"http://www.acidtests.org\">Sprawdź sam: http://www.acidtests.org</a>.<br />Zachęcamy do zmiany przeglądarki na którąś z poniższych:<ul><li><a href=\"http://www.google.pl/chrome\">Google Chrome</a></li><li><a href=\"http://www.mozilla.com\">Mozilla Firefox</a></li><li><a href=\"http://www.opera.com\">Opera</a></li></ul></span></div>");
  }
</script>