<div id="footer">

  <div>
    <div class="column" style="width: 100px">
      <%= link_to 'Regulamin', :controller => 'site', :action => 'rules' %><br />
      <%= link_to 'Kontakt', :controller => 'site', :action => 'contact' %>
    </div>
    <div class="column" style="width: 700px">
      <div class="center_align">
        Wszelkie prawa zastrzeżone. © 2009 www.ksmotobi.pl <br />
        Wersja 0.6<br/>
        <%= link_to 'projekt i wykonanie: Tomasz Jankowski', :controller => 'site', :action => 'contact' %><br />
      </div>
    </div>
  </div>
 
</div>