<div class="row">
  <div class="two columns">
    <%= link_to 'Regulamin', :controller => 'site', :action => 'rules' %><br />
    <%= link_to 'Kontakt', :controller => 'site', :action => 'contact' %>
  </div>
</div>
<div class="row">
  <div class="twelve columns centered center_align">
    Wszelkie prawa zastrzeżone. © 2009 www.ksmotobi.pl
    <%= link_to 'projekt i wykonanie: Tomasz Jankowski', :controller => 'site', :action => 'contact' %><br />
  </div>
</div>

</div>