<% link_to :controller => controller, :action => action, :id => id, :confirm => 'Jesteś pewien ?' do %>
  <div class="inline_links">
    <%= image_tag image, :size => "15x15", :hspace => "5" %>
    <%= text %>
  </div>
<% end %>