.short_player {
    width: 180px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.short_player_photo {
    height: 150px;
    vertical-align: bottom;
}

.player_form {
    width: 100%;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

.player_photo {
    text-align: center;
    width: 100%;
}

.player_detail_form {
    padding: 5px;
    vertical-align: top;
}

.player_photo {
    float: left;
    display: inline-block;
}

.player_information {
    font-weight: bold;
    font-size: 10px;
    display: block;
    width: 100%;
    padding: 0.5em 3em 1em 3em;
}

.player_detail {
    padding: 0.3em;
    border-bottom: 1px dotted white;
    overflow: hidden;
}

.player_detail .right_align {
    float: right;
}