.shoutbox {
    margin: 0.3em;
    display: block;
    border-bottom: 1px dotted #E8E8E8;
}

.shoutbox .text {
    width: 575px;
    display: inline-block;
    vertical-align: top;
}

.shoutbox .body {
    padding: 0.3em;
    color: #121212;
    background: #E8E8E8;
}

.shoutbox .time {
    display: block;
    text-align: right;
    padding: 0.3em;
    vertical-align: top;
    font-size: 10px;
}

.shoutbox .user {
    display: inline-block;
    width: 75px;
    text-align: center;
}