/* 
    Document   : new_style
    Created on : 2010-01-05, 21:23:00
    Author     : tj86
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body {
    margin: 0;
    background: #000000 url(/images/tlo.jpg) top fixed no-repeat;
    font-family: sans-serif;
    font-size: 11px;
}

img {
    border: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.decorated_link a{
    text-decoration: underline;
    color: black;
}


tr, td {
    vertical-align: top;
    font-size: 11px;
}

form {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    font-size: 11px;
}

.overflow {
    overflow: hidden;
}

#whole_page {
    padding: 0;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-size: 11px;
}

#content {
    padding: 0;
    margin: 0 0 0 0;
    color: #000000;
}

div.auto_complete {
    color: black;
    width: 350px;
    background: #fff;
    font-size: 10px;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
    font-weight: bolder;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
    font-weight: bolder;
}

table#layout {
    width: 100%;
}

td#left_sidebar{
    width: 124px;
}

td#content_layout{
    width: 750px;
}

td#right_sidebar {
    width: 150px;
}

.title_bar {
    height: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    border-bottom: solid 1px black;
}

#userbar{
    display: block;
    float: right;
}

#userbar ul
{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

#userbar li
{
    padding: 10px 0 10px 0;
    background: #3785F5;
    margin: 0 3px 0 0;
    font: 11px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: bolder;
    float: left;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

#userbar a, #userbar a:link, #userbar a:visited{
    padding: 10px 20px 10px 20px;
    background: #3785F5;
    color: white;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

#userbar a:hover{
    background: #FF751F;
    color: white;
    text-decoration: underline;
}

.main_menu {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: inline-block;
}

.main_menu ul {
    background: #417A31 url(/images/main_menu.png) repeat-x top;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0 0 0 8px;
    width: 1024px;
}
.main_menu li {
    float: left;
    font: 11px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    margin: 0;
    padding: 0;
}
.main_menu a {
    display: block;
    float: left;
    margin: 0;
    color: white;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}
.main_menu a:hover {
    color: white;
    border-bottom: 5px solid #ADEA13;
}

.main_menu #current_site {
    border-bottom: 5px solid #FF751F;
    display: block;
    float: left;
    margin: 0;
    padding: 6px 12px 6px 12px;
    text-decoration: none;
}

.right_sidebar {
    padding-left: 5px;
}

#menu{
    color: white;
    margin: 10px 0 5px 0;
    padding: 0 0 5px 0;
    background: transparent;
    font-weight: bold;
}

#menu ul
{
    float: left;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li
{
    font: 11px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0 1px 1px 0;
    background: #417A31;
}

#menu a, #menu a:link, #menu a:visited{
    display: block;
    padding: 0.3em;
    background: inherit;
    color: white;
}

#menu a:hover{
    background: #9BCC80;
    color: white;
    text-decoration: none;
}

#menu #current_site{
    height: 20px;
    display: block;
    padding: 0.3em;
    background: inherit;
}

#submenu a, #submenu a:link, #submenu a:visited{
    color: white;
    height: 20px;
    display: block;
    padding: 0.3em 0.3em 0.3em 1.5em;
}

#submenu a:hover{
    color: white;
    background: #9BCC80;
    text-decoration: none;
}

#submenu #current_site{
    height: 20px;
    display: block;
    padding: 0.3em 0.3em 0.3em 1.5em;
    background: inherit;
}

.important_font{
    display: block;
    text-align: center;
    font-weight: bold;
}

.center_align {
    text-align: center;
}

.bold_font{
    font-weight: bold;
}

.small_font{
    font-size: 10px;
}

.form_row {
    padding-bottom: 0.5em;
}

.form_row label {
    width: 150px;
    display: inline-block;
}

.display_block {
    display: block;
}

.box {
    margin: 0 0 0.3em 0;
    padding: 0;
    background-color: #9BCC80;
    background: rgba(155, 204, 128, 0.7);
    zoom: 1;
    display: block;
    overflow: hidden;
    height: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    font-size: 11px;
}

.box a {
    color: black;
}

.box_content {
    padding: 0.5em;
    overflow: hidden;
}

.inline_box {
    margin: 0 0 0.3em 0;
    padding: 0;
    background-color: #9BCC80;
    background: rgba(155, 204, 128, 0.7);
    zoom: 1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: inline-block;
    float: left;
}

.box_header {
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    color: white;
    background: #FF751F url(/images/box_header_gradient.png) repeat-x top;
    height: 20px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.box_header a{
    color: white;
}

.box_header .title {
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.box_header h1{
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.article {
    padding: 0;
    margin-bottom: 0.5em;
}

.article_header {
    padding: 0.3em;
    color: white;
    background: #adea13 url(/images/article_header_gradient.png) repeat-x top;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.article_header a {
    color: white;
}

.article_header .title {
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: white;
}

.article_header .h1 {
    padding-left: 5px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.article_details {
    padding: 5px;
    margin: 0 5px 0 5px;
    font-weight: lighter;
    font-size: 10px;
    vertical-align: top;
}

.article .content {
    padding: 5px;
    overflow: hidden;
    height: auto;
    margin: 0 5px 0 5px;
    text-align: justify;
}

.article .text {
    width: 500px;
    margin: 0 3px 3px 3px;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-size: 11px;
    float: right;
}

.article .gallery_short {
    margin: 3px;
    display: inline-block;
    float: left;
    text-align: center;
}

.article .link {
    font-weight: normal;
    text-align: right;
    text-decoration: underline;
}

#header {
    width: 100%;
    /*background: url(/images/LOGOstrona.jpg) no-repeat center;*/
    color: white;
    height: 50px;
}

#footer {
    width: 100%;
    margin-top: 5px;
    padding: 0.5em;    
    background: #417A31;
    overflow: auto;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#footer a {
    color: white;
}

#footer .column {
    font-family: monospace;
    display: inline-block;
    font-size: 11px;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
    vertical-align: top;
}

#notice {
    border: 2px solid white;
    display: block;
    background: #FF751F url(/images/box_header_gradient.png) repeat-x top;
    text-align: center;
    padding: 5px;
    color: white;
    font-weight:bold;
    font-size: x-large;
    margin: 5px 0px 5px 0px;
}

.short_player {
    width: 180px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.short_player_photo {
    height: 150px;
    vertical-align: bottom;
}

.gallery {
    width: 150px;;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.gallery_short {
    margin: 3px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.photo {
    width: 150px;
    height: 150px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    float: left;
}

.photo .small_font {
}

.photo_short .small_font {
    display: block;
}

.photo_short {
    width: 150px;
    margin: 0.3em;
    display: inline-block;
    float: left;
    text-align: center;
    vertical-align: middle;
}

.article .photo_short {
    width: 150px;
    display: inline-block;
    text-align: center;
    float: left;
    vertical-align: top;
}

.full_photo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.login_icon {
    width: 100px;
    margin: 0.3em;
    padding: 0.3em;
    display: inline-block;
    vertical-align: top;
}

.login_form {
    width: 250px;
    margin: 0.3em;
    padding: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

.login_form label{
    width: 50px;
    display: inline-block;
}

.login_links {
    margin: 0.3em;
    padding: 0.3em;
    width: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.inline_links {
    padding: 0.3em;
    display: inline-block;
    float: left;
}

.right_align {
    text-align: right;
}

.player_form {
    width: 100%;
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
}

.player_photo {
    text-align: center;
    width: 100%;
}

.player_detail_form {
    padding: 5px;
    vertical-align: top;
}

.player_photo {
    float: left;
    display: inline-block;
}

.player_information {
    font-weight: bold;
    font-size: 10px;
    display: block;
    width: 100%;
    padding: 0.5em 3em 1em 3em;
}

.player_detail {
    padding: 0.3em;
    border-bottom: 1px dotted white;
    overflow: hidden;
}

.player_detail .right_align {
    float: right;
}

.staff_form {
    width: 150px;
    padding: 0.3em;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.registration_label {
    text-align: left;
    width: 150px;
    display: inline-block;
}

.left_label {
    text-align: left;
    width: 200px;
    display: inline-block;
}

.match {
    padding: 0.3em;
    width: 100%;
    display: block;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.match_date {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

.home_team {
    display: inline-block;
    width: 42%;
    text-align: left;
    float: left;
    padding: 0.3em;
    vertical-align: middle;
}

.home_squad {
    font-size: 10px;
    background: transparent;
    display: inline-block;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    vertical-align: top;
    margin: 0;
    float: left;
    list-style: none;
}

.away_squad {
    font-size: 10px;
    background: transparent;
    display: inline-block;
    float: right;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    margin: 0;
    vertical-align: top;
    list-style: none;
}

.away_team {
    display: inline-block;
    width: 42%;
    text-align: right;
    float: right;
    padding: 0.3em;
    vertical-align: middle;
}

.result {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    padding: 0.3em;
    background: #FF751F url(/images/box_header_gradient.png) repeat-x top;
    vertical-align: middle;
    width: 10%;
    float: left;
}

.match_summary {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.comment {
    margin: 0.3em;
    display: block;
    border-bottom: 1px dotted #E8E8E8;    
}

.comment .text {
    width: 500px;
    display: inline-block;
    vertical-align: top;
    font-size: 11px;
}

.comment .article_title {
    color: white;
    margin-left: 1em;
    display: inline-block;
    padding: 0.5em 0.5em 0.2em 0.5em;
    background: #adea13 url(/images/article_header_gradient.png) repeat-x top;
    font-weight: bold;
    border-bottom: solid 2px #FF751F;
    width: auto;
}

.article_title a {
    color: white;
}

.comment .body {
    padding: 0.3em;
    color: #121212;
    background: #E8E8E8;
}

.comment .time {
    display: block;
    text-align: right;
    padding: 0.3em;
    vertical-align: top;
    font-size: 10px;
}

.comment .user {
    display: inline-block;
    width: 150px;
    text-align: center;
    font-size: 11px;
}

.shoutbox {
    margin: 0.3em;
    display: block;
    border-bottom: 1px dotted #E8E8E8;
}

.shoutbox .text {
    width: 575px;
    display: inline-block;
    vertical-align: top;
}

.shoutbox .body {
    padding: 0.3em;
    color: #121212;
    background: #E8E8E8;
}

.shoutbox .time {
    display: block;
    text-align: right;
    padding: 0.3em;
    vertical-align: top;
    font-size: 10px;
}

.shoutbox .user {
    display: inline-block;
    width: 75px;
    text-align: center;
}


.user_avatar {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.user_details {
    display:inline-block;
    vertical-align: top;
}

.team_form {
    display: inline-block;
    text-align: center;
}

.text_broadcast {
    padding: 0.5em 1em 1em 1em;
    font-size: 10px;
}

.text_broadcast .message {
    padding: 0.5em 1em 0.5em 1em;
    display: block;
    overflow: auto;
}

.text_broadcast .minute{
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #121212;
    background: #E8E8E8;
    width: 30px;
    vertical-align: top;
    float: left;
}

.text_broadcast .empty_minute{
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #121212;
    width: 30px;
    vertical-align: top;
    float: left;
}

.text_broadcast .status {
    padding: 0.1em;
    display: inline-block;
    text-align: center;
    width: 30px;
    vertical-align: top;
    float: left;
}

.text_broadcast .text {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    float: left;
}

.separator {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 1px dotted #E8E8E8;
}

hr {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px dotted #E8E8E8;

}

.info {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: 10px;
    color: #747474;
    padding: 0.5em;
}

.squad {
    width: 100%;
    text-align: center;
    overflow: auto;
}

.squad ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.green_header {
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    color: white;
    font-size: 14px;
    background: #adea13 url(/images/article_header_gradient.png) repeat-x top;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.green_header h1{
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.orange_header {
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    color: white;
    font-size: 14px;
    background: #FF751F url(/images/box_header_gradient.png) repeat-x top;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.orange_header h1{
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.sponsors_list {
    overflow: auto;
    width: 100%;
}

.sponsors_list a {
    color: black;
}

.pagination {
    margin: 10px;
}

.pagination a {
    padding: 3px;
    border: 1px outset #adea13;
    background: #adea13;
    color: black;
}

.pagination span {
    padding: 3px;
    border: 1px outset #adea13;
     background: #adea13;
    color: black;
}

.pagination .current {
    padding: 3px;
    border: 1px outset #FF751F;
     background: #FF751F;
    color: white;
}
