/* 
Document   : site
Created on : 2009-07-04, 11:48:51
Author     : tj86
Description:
Purpose of the stylesheet follows.
*/

/* 
Syntax recommendation http://www.w3.org/TR/REC-CSS2/

*/

body {
    background: #181818;
    background: url(/images/trawatlo.jpg) fixed;
    font-family: sans-serif;
    font-size: 12pt;
}

img {
    border: none;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: white;
}

.decorated_link a{
    text-decoration: underline;
    color: white;
}


tr, td {
    color: #E8E8E8;
    vertical-align: top;
}

form {
    margin: 0;
    padding: 0;
}

#whole_page {
    padding: 0;
    width: 1000px;
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

#content {
    padding: 0em 0.3em 0.3em 0.3em;
    margin: 0 0 0 0;
    background: transparent;
    color: #E8E8E8;
    font-size: 12pt;
}

div.auto_complete {
    color: black;
    width: 350px;
    background: #fff;
    font-size: smaller;
}
div.auto_complete ul {
    border:1px solid #888;
    margin:0;
    padding:0;
    width:100%;
    list-style-type:none;
}
div.auto_complete ul li {
    margin:0;
    padding:3px;
}
div.auto_complete ul li.selected {
    background-color: #ffb;
    font-weight: bolder;
}
div.auto_complete ul strong.highlight {
    color: #800;
    margin:0;
    padding:0;
    font-weight: bolder;
}

table#layout {
    width: 100%;
}

td#menu_layout{
    width: 150px;
}

td#content_layout{
    width: 700px;
}

td#right_sidebar {
    width: 150px;
}

.title_bar {
    height: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.3em 0 0.3em 0;
    background: url(/images/title_bar.png) repeat-x;
}

#userbar{
    padding: 0 0 0 1em;
    width: 100%;
    display: inline-block;
    font-weight: bold;
    color: white;

}

#userbar ul
{
    float: right;
    list-style: none;
    padding: 0 1em 0 0;
    margin: 0;
}

#userbar li
{
    padding: 0;
    margin: 0 0.3em 0 0;
    float: left;
}

#userbar li a, #userbarr li a:link, #userbar li a:visited{
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-rigth-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0.5em  0.5em 0.5em 0.5em;
    background: #3785F5;
    border: 1px solid #0c0c0c;
}

#userbar li a:hover{
    padding: 0.5em 0.5em 0.8em 0.5em ;
    background: #3785F5;
    text-decoration: underline;
}

#menu{
    color: #E8E8E8;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: smaller;
    font-weight: bold;
}

#menu ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li
{
    margin: 0;
    background-color: black;
}

#menu a, #menu a:link, #menu a:visited{
    height: 20px;
    display: block;
    padding: 0.3em 0.3em 0 1em;
    background: url(/images/test.png) repeat-x;
}

#menu a:hover{
    color: #181818;
    background: url(/images/button_menu3.png) repeat-x;
}

#current_site{
    height: 20px;
    display: block;
    padding: 0.3em 0.3em 0 1em;
    background: url(/images/button_menu2.png) repeat-x;
}

#submenu a, #submenu a:link, #submenu a:visited{
    height: 20px;
    display: block;
    padding: 0.3em 0em 0 1em;
    background: #0C0C0C;
}

#submenu a:hover{
    color: white;
    background: url(/images/button_menu3.png) repeat-x;
}

#submenu #current_site{
    height: 20px;
    display: block;
    padding: 0.3em 0.3em 0 1em;
    background: url(/images/button_menu2.png) repeat-x;
}

#submenu_options a, #submenu_options a:link, #submenu_options a:visited{
    padding: 0.3em 0.3em 0 2em;
    background: #060606;
}

#submenu_options a:hover{
    color: white;
    background: url(/images/button_menu3.png) repeat-x;
}

.important_font{
    display: block;
    text-align: center;
    font-weight: bold;
}

.right_align {
    text-align: right;
}

.center_align {
    text-align: center;
}

.bold_font{
    font-weight: bold;
}

.small_font{
    font-size: smaller;
}

.form_row {
    padding-bottom: 0.5em;
}

.form_row label {
    width: 150px;
    display: inline-block;
}

.display_block {
    display: block;
}

#box {
    margin: 0.3em 0 0.3em 0;
    padding: 0.5em;
    background-color: #181818;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

.box {
    margin: 0.3em 0 0.3em 0;
    padding: 0.5em;
    background-color: #181818;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#inline_box {
    margin: 0.3em;
    padding: 0.5em;
    display: inline-block;
    background-color: #181818;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

}

.inline_box {
    margin: 0.3em;
    padding: 0.5em;
    display: inline-block;
    background-color: #181818;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;

}

#box_header{
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: white;
    background: url(/images/button_menu4.png) repeat-x;
}


.box .box_header{
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: white;
    background: url(/images/button_menu4.png) repeat-x;
}

.inline_box .box_header{
    padding: 0.3em;
    margin: 0 0 0.3em 0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    color: white;
    background: url(/images/button_menu4.png) repeat-x;
}

#box_header .title {
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: larger;
}

.box_header .title {
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: larger;
}

.box_header h1{
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

#box_header h1{
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: larger;
    margin: 0;
}

.article {
    padding: 0;
    margin-bottom: 0.5em;
}

.article_header{
    padding: 0.3em;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    color: white;
    background: url(/images/button_menu4.png) repeat-x;
    background-color: #000033;
}

.article_header .title {
    padding-left: 0.5em;
    display: block;
    font-weight: bold;
    font-size: larger;
}

.article_details {
    background: #0C0C0C;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
    font-weight: lighter;
    font-size: smaller;
    vertical-align: top;
}

.article .content {
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: smaller;
    border-bottom: solid 1px #0C0C0C;
    border-left: solid 1px #0C0C0C;
    border-right: solid 1px  #0C0C0C;
    padding: 0.5em;
    margin: 0 0.5em 0 0.5em;
    background: #0C0C0C;
    text-align: justify;
}

.content .text {
    width: 450px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    vertical-align: top;
    text-align: justify;
}

.article .link {
    font-weight: normal;
    text-align: right;
    text-decoration: underline;
}

#header {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background-color: transparent;
    background: url(/images/LOGOstrona.jpg) no-repeat center;
    color: white;
    height: 200px;
}

#footer {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    padding: 0.5em;
    font-size: smaller;
    background: #3785F5;
    -moz-opacity: 0.8;
    -webkit-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

#footer .column {
    font-family: monospace;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
    vertical-align: top;
}

#notice {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    border: outset 2px #181818;
    background: url(/images/button_menu4.png) repeat-x;
    background-color: #000033;
    text-align: center;
    padding: 0.5em;
    margin: 0.3em;
    color: yellow;
    font-weight:bold;
    font-size: x-large;
}

a:hover .short_player {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 180px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
    background: #121212;
}

.short_player {
    width: 180px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.short_player_photo {
    height: 150px;
    vertical-align: bottom;
}

a:hover .gallery {
    text-align: center;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 150px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    vertical-align: middle;
    background: #121212;
}

.gallery {
    width: 150px;;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.gallery_short {
    width: 150px;;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

a:hover .photo {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 150px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
    background: #121212;
}

.photo {
    width: 150px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.photo .small_font {
    display: block;
}

.photo_short .small_font {
    display: block;
}

.photo_short {
    width: 150px;
    margin: 0.3em;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.full_photo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding: 1em 0.3em 0.3em 0.3em;
    text-align: center;
    vertical-align: middle;
}

.login_icon {
    width: 100px;
    margin: 0.3em;
    padding: 0.3em;
    display: inline-block;
    vertical-align: top;
}

.login_form {
    width: 250px;
    margin: 0.3em;
    padding: 0.3em;
    display: inline-block;
    vertical-align: middle;
}

.login_form label{
    width: 50px;
    display: inline-block;
}

.login_links {
    margin: 0.3em;
    padding: 0.3em;
    width: 200px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.inline_links {
    padding: 0.3em;
    display: inline-block;
}

.right_align {
    padding: 0.3em;
    display: block;
    text-align: right;
}

.player_form {
    width: 350px;
    padding: 0.3em;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.player_detail_form {
    width: 200px;
    padding: 0.3em;
    display: inline-block;
    vertical-align: top;
}

.player_information {
    font-weight: bold;
    color: #B4B4B4;
    font-size: smaller;
    padding: 0.5em 3em 1em 3em;
}

.player_detail {
    padding: 0.3em;
    border-bottom: 1px outset #E8E8E8;
}

.player_detail .label {
    display: block;
    font-weight: bold;
    color: #B4B4B4
}

.staff_form {
    width: 150px;
    padding: 0.3em;
    display: inline-block;
    vertical-align: middle;
    text-align: center
}

.player_detail_form {
    width: 200px;
    padding: 0.3em;
    display: inline-block;
    vertical-align: top;
}

.player_detail {
    padding: 0.3em;
    border-bottom: 1px outset #E8E8E8;
}

.player_detail .label {
    display: block;
    font-weight: bold;
    color: #B4B4B4
}

.registration_label {
    text-align: left;
    width: 150px;
    display: inline-block;
}

.left_label {
    text-align: left;
    width: 200px;
    display: inline-block;
}

.match {
    padding: 0.3em;
    width: 100%;
    display: block;
}

.match_date {
    text-align: center;
    font-size: smaller;
}

.home_team {
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0.3em;
    background: #121212;
    vertical-align: middle;
}

.home_squad {
    font-size: smaller;
    background: transparent;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    vertical-align: top;
    margin: 0;
}

.squad_separator {
    width: 10%;
    display: inline-block;
}

.away_squad {
    font-size: smaller;
    background: transparent;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    margin: 0;
    vertical-align: top;
}

.away_team {
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 0.3em;
    background: #121212;
    vertical-align: middle;
}

.result {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #121212;
    padding: 0.3em;
    background: #E8E8E8;
    vertical-align: middle;
    width: 10%;
}

.match_summary {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.comment {
    margin: 0.3em;
    display: block;
    border-bottom: 1px dotted #E8E8E8;
}

.comment .text {
    width: 500px;
    display: inline-block;
    vertical-align: top;
}

.comment .article_title {
    margin-left: 1em;
    display: inline-block;
    padding: 0.5em 0.5em 0.2em 0.5em;
    background: #121212;
    font-weight: bold;
    border-bottom: solid 2px black;
}

.comment .body {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding: 0.3em;
    color: #121212;
    background: #E8E8E8;
}

.comment .time {
    display: block;
    text-align: right;
    padding: 0.3em;
    vertical-align: top;
    font-size: smaller;
}

.comment .user {
    display: inline-block;
    width: 150px;
    text-align: center;
}

.shoutbox {
    margin: 0.3em;
    display: block;
    border-bottom: 1px dotted #E8E8E8;
    font-size: smaller;
}

.shoutbox .text {
    width: 575px;
    display: inline-block;
    vertical-align: top;
}

.shoutbox .body {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    padding: 0.3em;
    color: #121212;
    background: #E8E8E8;
}

.shoutbox .time {
    display: block;
    text-align: right;
    padding: 0.3em;
    vertical-align: top;
    font-size: smaller;
}

.shoutbox .user {
    display: inline-block;
    width: 75px;
    text-align: center;
}


.user_avatar {
    display: inline-block;
    text-align: center;
    width: 200px;
}

.user_details {
    display:inline-block;
    vertical-align: top;
}

.team_form {
    display: inline-block;
    text-align: center;
}

.text_broadcast {
    padding: 0.5em 1em 1em 1em;
    font-size: smaller;
}

.text_broadcast .message {
    padding: 0.5em 1em 0.5em 1em;
    display: block;
}

.text_broadcast .minute{
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #121212;
    background: #E8E8E8;
    width: 30px;
    vertical-align: top;
}

.text_broadcast .empty_minute{
    display: inline-block;
    padding: 0.3em;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    color: #121212;
    width: 30px;
    vertical-align: top;
}

.text_broadcast .status {
    padding: 0.1em;
    display: inline-block;
    text-align: center;
    width: 30px;
    vertical-align: top;
}

.text_broadcast .text {
    display: inline-block;
    width: 80%;
    vertical-align: top;
}

.separator {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border-bottom: 1px dotted #E8E8E8;
}

hr {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: none;
    border-bottom: 1px dotted #E8E8E8;

}

.info {
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    font-size: smaller;
    color: #747474;
    padding: 0.5em;
}

.squad {
    width: 100%;
    text-align: center;
}

.squad .left_column {
    font-size: smaller;
    background: transparent;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    vertical-align: top;
    margin: 0;
    list-style: none;
}

.squad .right_column {
    font-size: smaller;
    background: transparent;
    display: inline-block;
    width: 40%;
    text-align: left;
    padding: 0.3em 0.3em 0.3em 1em;
    margin: 0;
    vertical-align: top;
    list-style: none;
}

.squad ul {
    list-style: none;
    padding: 0;
    margin: 0;
}