<div class="box">
  <div class="box_header">
    <h1>
      Relacje na żywo
    </h1>
  </div>
  <div class="box_content">
    <%= render :partial => "live_broadcasts/live_broadcast_short", :collection => @live_broadcasts %>
  </div>
</div>