<div class="box">
  <div class="box_header">
    <h1>
      Kontakt
    </h1>
  </div>
  <div class="box_content">
    <table width="100%">
      <tr>
        <td style="width: 50%">
          <div style="text-align: center; padding: 10px;">
            Masz jakiekolwiek pytanie ?<br /><br />
            Skontaktuj się z nami za pomocą poczty elektronicznej korzystając z adresu e-mail,
            który najlepiej odpowiada treści towjego pytania.
          </div>
        </td>
        <td style="width: 50%">
          <table>
            <tr>
              <td>
                <h4>Klub:</h4>
              </td>
              <td>
                <a href="mailto:&#107;&#108;&#117;&#98;&#64;k&#115;&#109;&#111;&#116;ob&#105;.&#112;l">
                  &#107;&#108;&#117;&#98;&#64;k&#115;&#109;&#111;&#116;ob&#105;.&#112;l</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Redakcja:</h4>
              </td>
              <td>
                <a href="mailto:&#114;&#101;&#100;&#97;&#107;&#99;&#106;a&#64;k&#115;&#109;&#111;&#116;o&#98;&#105;.&#112;&#108;">
                  &#114;&#101;&#100;&#97;&#107;&#99;&#106;a&#64;k&#115;&#109;&#111;&#116;o&#98;&#105;.&#112;&#108;</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Reklama:</h4>
              </td>
              <td>
                <a href="mailto:&#114;&#101;&#107;&#108;&#97;&#109;a&#64;k&#115;m&#111;&#116;o&#98;&#105;.&#112;l">
                  &#114;&#101;&#107;&#108;&#97;&#109;a&#64;k&#115;m&#111;&#116;o&#98;&#105;.&#112;l</a>
              </td>
            </tr>
            <tr>
              <td>
                <h4>Sponsoring:</h4>
              </td>
              <td>
                <a href="mailto:&#115;&#112;&#111;&#110;so&#114;&#105;n&#103;&#64;&#107;s&#109;o&#116;o&#98;i.p&#108;">
                  &#115;&#112;&#111;&#110;so&#114;&#105;n&#103;&#64;&#107;s&#109;o&#116;o&#98;i.p&#108;</a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>