<div class="box">
  <div class="box_header">
    <h1>
      Regulamin serwisu
    </h1>
  </div>
  <div class="box_content">
    <ol>

      <h4>Użytkownik</h4>
      <li>
        Każdy użytkownik po zarejestrowaniu się ma prawo w pełni korzystać z serwisu.
      </li>
      <li>
        Dane użytkowników podane przy rejestracji nie zostaną one przekazane osobom trzecim i są one do wglądu JEDYNIE właścicielom serwisu. Każdy kto poda komukolwiek swoje dane robi to na własną odpowiedzialność.
      </li>
      <li>Zabrania się:</li>
      <ol>
        <li type="lower-alpha">
          Obrażania kogokolwiek, nie tylko osób na stronie, ale też osób publicznych.
        </li>
        <li type="lower-alpha">
          Używania przekleństw i innych wulgarnych słów.
        </li>
        <li type="lower-alpha">
          Spamowania (linki, kilkuwyrazowe wypowiedzi, zaśmiecanie komentarzami itp.).
        </li>
        <li type="lower-alpha">
          Reklamowania czegokolwiek i kogokolwiek bez zgody właścicieli serwisu.
        </li>
        <li type="lower-alpha">
          Kopiowania własności serwisu.
        </li>
        <li type="lower-alpha">
          Dodawania treści nazistowskich, rasistowskich itp., pornograficznych lub takich, które wyraźnie atakują kulturę lub daną społeczność.
        </li>
      </ol>
      <li>
        Serwis nie ponosi jakiejkolwiek odpowiedzialności za treści zamieszczane przez użytkowników.
      </li>
      <li>
        Każdy użytkownik po rejestracji zobowiązuje się jednocześnie do przestrzegania regulaminu.
      </li>

      <h4>Serwis</h4>
      <li>
        Serwis przekazuje wiadomości z życia klubu Motobi Bystrzyca Kąty Wrocławskie. Wyrażamy swoją opinię w publikowanych wiadomościach.
      </li>
      <li>
        Serwis zastrzega sobie prawo do usuwania treści naruszających regulamin, jak również prawo do blokowania użytkowników, którzy w sposób notoryczny naruszają postanowienia regulaminu.
      </li>
      <li>
        Serwis zastrzega sobie możliwość przeredagowywania nieprzyzwoitych fragmentów opinii w sposób nie zmieniający ich przekazu. W szczególnych przypadkach serwis zastrzega sobie możliwość ich usuwania.
      </li>
      <h4>Materiały serwisu</h4>
      <li>
        ZABRANIA się kopiowania wszelkich materiałów, które są zawarte w serwisie bez zgody właścicieli serwisu i nie podania źródła.
      </li>

      <h4>Postanowienia końcowe</h4>
      <li>
        Każdy kto udziela się na stronie zobowiązuje się jednocześnie do przestrzegania regulaminu.
      </li>
      <li>
        Serwis zastrzega sobie prawo do wprowadzania zmian w niniejszym regulaminie. Wszelkie zmiany stają się obowiązujące w momencie ich opublikowania na tej stronie.
      </li>
    </ol>
  </div>
</div>