<div class="box">
  <div class="box_header">
    <h1>Dodaj kartkę</h1>
  </div>
  <div class="box_content">
    <% remote_form_for [@appearance, Card.new] do |f| %>
      <table>
        <th>Minuta</th>
        <th>Opis</th>
        <th>Kolor</th>
        <tr>
          <td><%= f.select :minute, minutes %></td>
          <td><%= f.text_area :info, :rows => 2, :cols => 50 %></td>
          <td><%= f.select :color, card_colors %></td>
        </tr>
      </table>
      <div class="center_align">
        <%= f.submit 'Dodaj' %>
      </div>
    <% end %>
  </div>
</div>